<CiscoIPPhoneStatusFile>
  <Text>{{ text }}</Text>
  <Timer>{{ timer }}</Timer>
  <LocationX>{{ location_x }}</LocationX>
  <LocationY>{{ location_y }}</LocationY>
  <URL>{{ url }}</URL>
</CiscoIPPhoneStatusFile>
