<CiscoIPPhoneImageFile{%- if window_mode -%} WindowMode="{{ window_mode }}"{%- endif -%}>
  <Title>{{ title }}</Title>
  <Prompt>{{ prompt }}</Prompt>
  <LocationX>{{ location_x }}</LocationX>
  <LocationY>{{ location_y }}</LocationY>
  <URL>{{ url }}</URL>
</CiscoIPPhoneImageFile>
