[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"jinja2" = "*"

[dev-packages]
pre-commit = "*"
bumpversion = "*"
ipython = "*"

[requires]
python_version = "3.6"
