<CiscoIPPhoneStatus>
  <Text>{{ text }}</Text>
  <Timer>{{ timer }}</Timer>
  <LocationX>{{ location_x }}</LocationX>
  <LocationY>{{ location_y }}</LocationY>
  <Width>{{ width }}</Width>
  <Height>{{ height }}</Height>
  <Depth>{{ depth }}</Depth>
  <Data>{{ data }}</Data>
</CiscoIPPhoneStatus>
